.reg{
    display: flex;
    /* background-color: rgb(198, 225, 243); */
    background-color: whitesmoke;
    border: 1px solid grey;
      /* background-color: rgb(94, 151, 211); */
  /* background: repeating-linear-gradient(90deg, rgb(81, 80, 101) 0%, rgba(99, 144, 144, 1) 35%, rgba(0, 212, 255, 1) 100%); */
  /* background: #222; */
  /* background: repeating-linear-gradient(90deg, rgb(81, 80, 101) 0%, rgba(99, 144, 144, 1) 35%, rgba(81, 80, 101, 1) 100%); */
  /* background: repeating-linear-gradient(90deg, rgb(57, 25, 25) 0%, rgb(192, 207, 189) 35%, rgb(23, 34, 37) 100%); */
    align-items: center;
    /* border: 2px solid rgb(223, 208, 208); */
    /* border: 0px solid rgb(13, 87, 36); */
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    /* border-radius: 23%;
    border-block-style: solid; */
    /* border-block-width: 10px;
    animation: mymove 5s infinite; */
  }


  .h1tag{
    /* color: rgb(21, 4, 62); */
    /* color: aliceblue; */
    /* color: blue; */
    block-size: 30px;
  }


    
  /* @keyframes mymove {
    50% {border-block-color: rgb(202, 21, 51);}
    /* 50% {border-block-color: white;} */
    /* 50% {background-color: rgb(106, 146, 157);} */
  