.display-page {
    margin: 0;
    display: flex;
    height: 200vh;
    
    }

    /* .navbar{
        background-color: grey;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 2px;
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
     */
    /* .searchContent{
     
      position: fixed;
    
    } */

    /* .clear{
      display: flex;
      align-items: center;
      justify-content: space-around;
    } */
    .clear-button{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -40px;
    }

    .tableShow{
      
      height: 300px;
      overflow-y: scroll;
      scroll-behavior: smooth;
    }

    .sidebar {
 
    /* background: #333; */
    color: #fff;
    padding: 20px;
    width: 200px;
  
 
    
    }
    
    .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
    .sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
    }
    
    .main-content {
    flex: 1;
    padding: 20px;
   
    }
 
    
    /* .grid {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    } */
    
    .profile {
      display: flex;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
    background: rgb(14, 14, 87);
    /* background: #f1e4e4; */
    padding: 20px;
    width: 200px;
    /* margin-top: 15px; */
    }
    
  
    
    /* .profile h2 { */
      /* margin-top: 20px; */
    /* margin-bottom: 5px; */
    /* } */
    
    .profile p {
    color: #888;
    }

    .sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  }
  
  .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }
  
  .sidenav a:hover {
  color: #f1f1f1;
  }
  
  .sidenav.collapsed {
  width: 60px;
  }
  
  .sidenav.collapsed a {
  padding-left: 16px;
  text-align: center;
  font-size: 0;
  }
  
  .sidenav.collapsed a:hover {
  font-size: 18px;
  }
  
  .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  }
  
  /* CSS for the main content area */
  .main {
  margin-left: 250px;
  transition: 0.5s;
  padding: 20px;
  }
  
  /* CSS for collapsing the side navigation */
  @media screen and (max-height: 450px) {
  .sidenav {
  padding-top: 15px;
  }
  .sidenav a {
  font-size: 18px;
  }
  }
  
  /* CSS for the button that triggers the collapse */
  .collapse-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-top: -10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    /* box-shadow: 5px 8px 8px 5px rgba(0,0,0,0.2); */
    padding: 12px 16px; 
    z-index: 1;
  }
   

  
  .dropdown:hover .dropdown-content {
    display:block;
    
     
  }

  .Profile_dropdown{
    display: flex;
    align-items:center;
    cursor: pointer;
    /* background: whitesmoke; */
    /* background: grey; */
    background: rgb(14, 14, 87);
    /* padding: 10px; */
    /* border: 1px solid grey; */
    padding-left: 15px;
    padding-right: 15px;
    /* padding-bottom: 2px; */
    /* padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px; */
    border-radius: 5%;
    /* margin-left: 4px; */
    /* margin-bottom: 100px; */
    margin-top: 5px;

    /* justify-content: space-between; */

  }

  .profileImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    /* cursor: pointer; */
    /* margin-top: 22px;
    margin-left: 3px; */
    /* background: whitesmoke; */
  }

  .profileLogo {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    /* margin-top: 22px;*/
    margin-left: 3px; 
    background: whitesmoke;
    
  }
  .Profile_dropdown h2 {
    color:whitesmoke;
    font-size: 20px;
  }
 
    /* .profile img {
    width: 30%;
   
    max-width: 150px;
    border-radius: 50%;
    /* margin-left: 40px;
    margin-bottom: 10px; */
    