body {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  /* background: repeating-linear-gradient(90deg, rgb(81, 80, 101) 0%, rgba(99, 144, 144, 1) 35%, rgba(81, 80, 101, 1) 100%); */

}

/* .container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
} */