   
    .search-bar {
        display: flex;
        
        width: 25%;
        margin-bottom: 20px;
        margin-left: 17%;
        }
        
        /* .search-bar input {
        flex: 1;
        padding: 5px;
        } */
        .search-bar input[type="text"] {
        flex: 1;
        padding: 5px;
        }
        
        .search-bar button {
        padding: 5px 10px;
        margin-left: 10px;
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        }